APP_NAME="ISON Expo Landing"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=vippr_landing
DB_USERNAME=vippr
DB_PASSWORD=
POSTGRES_DB=vippr_landing
POSTGRES_USER=vippr
POSTGRES_PASSWORD=
